ignore/apple-touch-icon.png
ignore/android-chrome-512x512.png
ignore/android-chrome-192x192.png
ignore/favicon_io.zip
ignore/favicon-16x16.png
ignore/favicon-32x32.png
ignore/favicon.ico
ignore/js.png
ignore/neural_network.png
ignore/site.webmanifest
ignore/vs.png
